@media (max-width: 720px) {
  .nav-ul {
    display: none;
  }
  .fa-bars {
    display: block;
  }
}
@media (max-width: 650px) {
  .withresposive {
    max-width: 275px;
    width: 100%;
  }
}
@media (max-width: 560px) {
  .footering {
    display: flex;
    flex-direction: column;
    height: auto;
  }
/* also added hover */
@media (max-width: 450px) {
  .burger-bar {
    font-size: 30px;
    color: purple;
  }
  .burger-bar:hover {
    font-size: 40px;
    color: darkviolet;
  }
}
@media (max-width: 350px) {
  .container {
    max-width: 1177px;
    width: 75%;
    margin:0 auto;
    margin-top: 35px;
  }
  /* .form-wrapper {
    display: flex;
    justify-content: column;
    margin-top: 14px;
    margin-bottom: 14px;
    margin-left: none;
  } ვცადე ამის დამატებით გამეცენტრა 350px ზე... */
}