/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/* header add */
.container {
  max-width: 1177px;
  width: 100%;
  margin:0 auto;
  margin-top: 35px;
}
.navigation-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 30px;
}
.nav-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.aboutproject {
  font-family: ArchyEDT-Thin;
  font-size: 20px;
  color: #707070;
  max-width: 140px;
  width: 100%;
}
.requipment {
  font-family: ArchyEDT-Thin;
  font-size: 20px;
  color: #707070;
  max-width: 89px;
  width: 100%;
}
.explore {
  font-family: ArchyEDT-Thin;
  font-size: 20px;
  color: #707070;
  max-width: 82px;
  width: 100%;
}
.enter {
  font-family: ArchyEDT-Thin;
  font-size: 20px;
  color: #707070;
  max-width: 53px;
  width: 100%;
}
.nav-ul li {
  margin-right: 50px;
}
/* section add */
.image {
  max-width: 100%;
}
/* form add */
.form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 14px;
  margin-bottom: 14px;
  margin-left: 80px;
}
.input-wrapper {
  max-width: 732px;
  width: 100%;
  height: 50px;
  resize: none;
}
.submit {
  margin-top: 14px;
  max-width: 80px;
  width: 100%;
  height: 25px;
  background-color: #2E2E2E;
  color: #fff;
}
.same {
  margin-bottom: 14px;
}
/* footer add */
.footering {
  background-color: #2E2E2E;
  height: 180px;
}
.same1 {
  color: #fff;
  margin-top: 74px;
}
.same01 {
  color: #fff;
}
.same2 {
  color: #fff;
  margin-top: 74px;
}
.same02 {
  color: #fff;
}
.footering {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1920px;
  width: 100%;
  margin-top: 200px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.height {
  margin-top: 50px;
}
.fb {
  margin-top: 74px;
  margin-right: 34px;
}
.ig {
  margin-top: 74px;
}
/* responsive add */
.fa-bars {
  display: none;
}